<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mvvm.lux.framework">

    <uses-permission android:name="android.permission.VIBRATE"/>

    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:supportsRtl="true">
        <service
            android:name=".http.rxdownload.function.DownloadService"/>

        <activity android:name=".manager.hybrid.BrowserActivity"/>
        <activity android:name=".manager.hybrid.ImagePicsListActivity"/>
    </application>

</manifest>
